html,
body {
    min-height: 100%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #1D242C, #0176C3);
    color: #C7EEFF;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
}

section.body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding: 5px;
}

form {
    padding: 10px;
}

table.bounds {
    padding: 10px;
    width: 100%;
}

table.stats {
    padding: 10px;
    width: 100%;
}

section.lb {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5px;
}

ul.bounds {
    margin-left: -35px;
    font-size: small;
    list-style: none;
}

section.histogram {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    padding: 5px;
}

section.stats {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5px;
}

section.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

pre.boundError {
    display: flex;
    flex-wrap: wrap;
    font-size: small;
}

canvas {
    border: 1px solid black;
    width: 50%;
}