body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #1D242C, #0176C3);
    color: #C7EEFF;
    font-family: Helvetica, sans-serif;
}

section.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form {
    width: 45%;
}

caption {
    font-weight: bold;
    text-decoration: underline;
}

table.piglist,
th,
td {
    width: 100%;
    min-width: 70%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid yellow;
    word-wrap: break-word;
}

td {
    text-align: center;
}

form.newPigForm {
    display: none;
    table-layout: fixed;
}

table.newPig td {
    width: 1000px;
    word-wrap: break-word;
}

table.moreInfo {
    display: none;
}